*
{
    margin: 0px;
    padding: 0px;
}
body
{
    /*Hacemos la regla para toda letra en la web*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #fff;
}
div
{
    display: block;
}
#warpper
{
   background: url(http://www.tachoo.xyz/home/img/BackGround.jpg);
   background-repeat: no-repeat;
    width: 1903px;
    margin: 0px auto;
    height: 1892px;
}
#mainc
{
    margin:  0px auto;
    height: 100%;
}
#header {
	width: 1903px;
	height:115px;
    
}
#clearfix
{
    width: 999px;
    margin: 0 auto;
}
#globalnavi{
margin: 0px auto;
padding:0px;
width: 650px;
height:100%;
}

#globalnavi li{
text-indent:-9999px;
float:left;
width:130px;
padding:0 0;
vertical-align: baseline;
list-style-type:none;
}
.logo
{
    margin-top: 5px;
}
#globalnavi a{
display:block;
width:100%;
height:70px;
background-image: url(http://www.tachoo.xyz/perimg/menuimg/menubar.jpg);   
background-repeat: no-repeat;   
}

.about a { background-position: 0 0px; } 
.carrers a { background-position: 0 -70px; }   
.logo a { background-position: 0px -140px; }   
.games a { background-position: 0 -210px; }   
.news a { background-position: 0 -280px; }   
 
#globalnavi a:hover {   
text-decoration: none;   
background-image: url(http://www.tachoo.xyz/perimg/menuimg/menubar.jpg);   
background-repeat: no-repeat;   
}   

.about a:hover { background-position: -130px 0px; } 
.carrers a:hover { background-position: -130px -70px; }   
.logo a:hover { background-position: -130px -140px; }   
.games a:hover { background-position: -130px -210px; }   
.news a:hover { background-position: -130px -280px; }   




/*Slider*/
.slider
{
width: 100%;
margin: auto;
overflow: hidden;
}
.slider ul
{
    display: flex;
    width: 400%;
    animation: Mover 20s infinite;
    animation-timing-function: ease-in-out;

}
.slider li
{
    width: 100%;
    list-style: none;
}
.slider img
{
    width: 100%;
}

@keyframes Mover
{
/* 4s */
    0%{margin-left: 0;}
    20%{margin-left: 0;}
/* 4s */
    25%{margin-left: -100%}
    45%{margin-left: -100%}
/* 4s */
    50%{margin-left: -200%}
    70%{margin-left: -200%}
/* 4s */
    75%{margin-left: -300%}
    100%{margin-left: -300%}
}
/*Slider*/

#seccion-content
{
    top: -75px;
    position: relative;
    background-color:#000;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    z-index: 1;
}

/*Container*/
#viewcontent, #moreviewcontent
{
    display: inline-block;
    z-index: 1;
}

#viewcontent
{
width: 100%;
height: 650px;

/**/


}
#moreviewcontent
{
width: 100%;
height: 150px;  
/**/

}

/*in viewcontent*/
#viewI , #ViewD 
{
float: left;
}

#ViewI
{
width: 400px;
height: 650px;
background-color: #335;
}
#ViewD
{
width: 600px; 
height: 650px;
   background-color: #fff;
}
/*VI*/
/*Arriba*/
#VITop
{
height: 325px;
background-color: green;
}
/*Abajo*/
#VIBot
{
height: 325px;
background-color: red;
}
/*VI*/

/*VD*/
#VDIz
{
height: 325px;
background-color: yellow;
}
/*50*/
#VDDr
{
height: 325px;
background-color:blue;
}
/*VD*/

/*in view content*/

/* */

.Subbanering
{
float: left;
width: 25%;
height: 100%;
background-color: #934;
z-index: 2;

}
/* */

/*Container*/
